<div class="row">
  <div class="col-md-12">
    <% if notice %>
      <div class="alert alert-info" role="alert">
        <p id="notice"><%= notice %></p>
      </div>
    <% elsif alert %>
      <div class="alert alert-warning" role="alert">
        <p id="alert"><%= alert %></p>
      </div>
    <% end %>
  </div>
</div>
