<div class="row">
  <div class="col-md-12">
    <h1>New Site</h1>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <%= render 'form', site: @site %>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <%= link_to 'Back', sites_path %>
  </div>
</div>
